@import "tailwindcss";

body, html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.profile-background {
  background-image: url(/profile-background.jpg);
  background-position: center;
  background-size: cover;   
  background-repeat: no-repeat;
}

@custom-variant dark (&:where(.dark, .dark *));

.page-spacer {
  @apply lg:ml-[190px];
}

.section-spacer {
  @apply flex flex-col justify-between py-3 md:flex-row md:py-5;
}

.navbar-set-width {
  @apply w-[130px] max-w-[190px] lg:w-[190px];
}

.list-item {
  @apply py-1.5 my-0.5 text-base cursor-pointer hover:bg-gray-200 rounded-xl flex gap-x-3.5 items-center sm:my-1.5 lg:py-2 lg:px-7 lg:text-xl;
}

.primary-button {
  @apply py-2 px-5 text-sm bg-black text-white rounded-xl font-semibold transition-all ease-in-out duration-300 hover:bg-gray-600 md:rounded-2xl lg:text-lg lg:py-2 lg:px-6;
}

.form-control {
  @apply w-full border border-gray-400 rounded-md bg-white text-xs p-1;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(216, 216, 216);
}