@import "tailwindcss";

body, html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@layer base {
  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 8px;
  }

  .dark ::-webkit-scrollbar-track {
    background: #0f1216;
  }

  .dark ::-webkit-scrollbar-thumb {
    background: #2a2f38;
  }

  .dark ::-webkit-scrollbar-thumb:hover {
    background: #3d4450;
  }
}

body {
  @apply dark:bg-[#0C0C0D];
}

:root {
  --cat-Mythology: #006DC7;
  --cat-Dark: #7E7E7E;
  --cat-Politics: #b15cff;
  --cat-Hilarious: #02A712;
  --cat-Controversial: #E20000;
  --cat-History: #CA9100;
  --cat-Heartbreaking: #E93187;
}

/* Dark mode overrides */
.dark {
  --cat-Mythology: #3CA0FF;
  --cat-Dark: #A6A6A6;
  --cat-Politics: #C27CFF;
  --cat-Hilarious: #28C93A;
  --cat-Controversial: #FF4A4A;
  --cat-History: #E3AC2C;
  --cat-Heartbreaking: #FF5CA6;
}

.profile-background {
  background-image: url(/profile-background.jpg);
  background-position: center;
  background-size: cover;   
  background-repeat: no-repeat;
}

@custom-variant dark (&:where(.dark, .dark *));

.page-spacer {
  @apply lg:ml-[190px];
}

.section-spacer {
  @apply flex flex-col justify-between py-3 md:flex-row md:py-5;
}

.navbar-set-width {
  @apply w-[130px] max-w-[190px] lg:w-[190px];
}

.story-card {
  @apply max-w-[400px] h-fit self-center w-full rounded-xl bg-white shadow-lg mx-3 border cursor-pointer overflow-hidden transition-all ease-in-out duration-300 hover:bg-gray-50 hover:shadow-xl after:p-3
    dark:bg-[#111418] dark:text-[#F1F5F9] dark:border-[#454950] dark:hover:bg-[#272B33];
}

.list-item {
  @apply py-1.5 my-0.5 text-base cursor-pointer hover:bg-gray-200 rounded-xl flex gap-x-3.5 items-center transition-all ease-in-out duration-500 sm:my-1.5 lg:py-2 lg:px-7 lg:text-xl
    dark:text-[#F1F5F9] dark:hover:bg-[#272B33];
}

.primary-button {
  @apply py-2 px-5 text-sm bg-black text-white rounded-xl font-semibold transition-all ease-in-out duration-300 hover:bg-gray-600 md:rounded-2xl lg:text-lg lg:py-2 lg:px-6
    dark:bg-white dark:text-black dark:hover:bg-gray-300;
}

.form-control {
  @apply w-full border border-gray-400 rounded-md bg-white text-xs p-1
    dark:bg-[#111418] dark:text-[#F1F5F9];
}

.section-text {
  @apply text-xs font-semibold py-1 md:text-base lg:text-lg dark:text-[#CBD5E1];
}

.section-text-2 {
  @apply text-xs font-semibold py-1 md:text-sm lg:text-base dark:text-[#CBD5E1];  
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(216, 216, 216);
}